__pycache__/
*.pyc
backups/
scratch/
*.stash-sorter.tmp

.venv-build/
dist/
rules.json

sessions/
terrorzone.json
seeds.json
seedrun.json

Horadric Toolkit.exe
dist-local/
artmod/
Horadric Toolkit (update).exe
_snapshots/
